h2 {
  color: lightseagreen;
  background-color: Pink;
  text-decoration: black underline;
  font-size: 30px;
}
button {
  color: magenta;
  background-color: cyan;
}
p {
  color: DarkSlateGray;
  background: PowderBlue;
  line-height: 2.5;
}

a {
  text-decoration: none;
}
